In [116]:
import pandas as pd
import numpy as np 
import matplotlib as mpl
import matplotlib.pyplot as plt
import plotly.express as px
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn import metrics

In [117]:
data1=pd.read_csv("../Study_Hopsking\df_mix.csv")
data1["DateTime"]=pd.to_datetime(data1["DateTime"])

data1

,Unnamed: 0,DateTime,RealPower,mes,verano,primavera,otoño,invierno,dia,vacaciones,clases_verano,Hay_Sol,temp,Prom_hora_mes,mayor_promedio,Hora,Prom_hora_mes_dia,mayor_promedio_dia,minute
0,0,2019-12-31 23:45:00,38.394,12.0,0.0,0.0,0.0,1.0,31.0,1.0,0.0,0,8.89,40.048847,0,23,38.52075,0,45
1,1,2019-12-31 23:30:00,38.619,12.0,0.0,0.0,0.0,1.0,31.0,1.0,0.0,0,8.89,40.048847,0,23,38.52075,1,30
2,2,2019-12-31 23:15:00,38.577,12.0,0.0,0.0,0.0,1.0,31.0,1.0,0.0,0,8.89,40.048847,0,23,38.52075,1,15
3,3,2019-12-31 23:00:00,38.493,12.0,0.0,0.0,0.0,1.0,31.0,1.0,0.0,0,8.89,40.048847,0,23,38.52075,0,0
4,4,2019-12-31 22:45:00,38.313,12.0,0.0,0.0,0.0,1.0,31.0,1.0,0.0,0,8.89,40.184637,0,22,38.70800,0,45
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26395,26395,2019-04-01 01:00:00,51.912,4.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0,16.10,51.763875,1,1,51.05075,1,0
26396,26396,2019-04-01 00:45:00,50.980,4.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0,16.10,52.269892,0,0,51.17875,0,45
26397,26397,2019-04-01 00:30:00,51.873,4.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0,16.10,52.269892,0,0,51.17875,1,30
26398,26398,2019-04-01 00:15:00,51.186,4.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0,16.10,52.269892,0,0,51.17875,1,15
26399,26399,2019-04-01 00:00:00,50.676,4.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0,16.10,52.269892,0,0,51.17875,0,0

In [118]:
data2=pd.read_csv("../UCSD-Microgrid-Database\Data Files\BatteryStorage.csv")
data2

                DateTime RealPower
0        2/29/2020 23:45  -607.088
1        2/29/2020 23:30    -4.142
2        2/29/2020 23:15    -4.104
3        2/29/2020 23:00    -4.047
4        2/29/2020 22:45    -4.151
...                  ...       ...
149041  11/30/2015 11:45  2,458.73
149042  11/30/2015 11:30  2,459.83
149043  11/30/2015 11:15    -4.045
149044  11/30/2015 11:00    -3.974
149045  11/30/2015 10:45     -3.96

[149046 rows x 2 columns]

In [119]:
data2["DateTime"]=pd.to_datetime(data2["DateTime"])

data_2= data2[(data2['DateTime'] >= '2019-01-01') & (data2['DateTime'] <= '2019-12-31 23:45:00')]
data_2

                 DateTime  RealPower
5760  2019-12-31 23:45:00     -4.702
5761  2019-12-31 23:30:00      -4.59
5762  2019-12-31 23:15:00     -4.632
5763  2019-12-31 23:00:00    493.314
5764  2019-12-31 22:45:00    790.249
...                   ...        ...
40799 2019-01-01 01:00:00  -1,008.77
40800 2019-01-01 00:45:00  -1,016.96
40801 2019-01-01 00:30:00  -1,008.91
40802 2019-01-01 00:15:00  -1,008.81
40803 2019-01-01 00:00:00  -1,008.70

[35044 rows x 2 columns]

In [120]:
data3=pd.read_csv("../UCSD-Microgrid-Database\Data Files\DemandCharge.csv")
data3

,DateTime,TotalCampusLoad,OnCampusGeneration,SDG&E Import,AdjustedDemand
0,2/29/2020 23:45,31650.58,30752.804,897.774,-305.422
1,2/29/2020 23:30,31096.75,30750.037,346.711,-859.252
2,2/29/2020 23:15,31236.65,30614.898,621.749,-719.353
3,2/29/2020 23:00,31364.09,30866.657,497.427,-591.916
4,2/29/2020 22:45,31552.81,30785.978,766.840,-403.182
...,...,...,...,...,...
75839,1/1/2018 1:00,28648.00,17144.323,12455.270,-2356.407
75840,1/1/2018 0:45,28700.43,17106.156,12450.270,-2399.574
75841,1/1/2018 0:30,28737.36,17342.170,12528.160,-2085.670
75842,1/1/2018 0:15,28779.14,17388.247,12577.250,-1990.503
75843,1/1/2018 0:00,28947.06,17082.433,12709.430,-2164.137

In [121]:
data3["DateTime"]=pd.to_datetime(data3["DateTime"])

data_3= data3[(data3['DateTime'] >= '2019-01-01') & (data3['DateTime'] <= '2019-12-31 23:45:00')]

data_3 = data_3.rename(columns={'Date': 'DateTime'})

data_3

,DateTime,TotalCampusLoad,OnCampusGeneration,SDG&E Import,AdjustedDemand
5760,2019-12-31 23:45:00,29072.57,28812.395,260.169,-2883.436
5761,2019-12-31 23:30:00,28844.49,28651.752,192.735,-3111.513
5762,2019-12-31 23:15:00,29295.08,29066.792,228.283,-2660.925
5763,2019-12-31 23:00:00,28629.41,28455.610,173.804,-3326.586
5764,2019-12-31 22:45:00,28208.62,28111.096,97.523,-3747.381
...,...,...,...,...,...
40799,2019-01-01 01:00:00,29250.54,28962.325,288.214,-2705.461
40800,2019-01-01 00:45:00,29093.99,28980.230,113.768,-2862.002
40801,2019-01-01 00:30:00,29086.79,28927.688,159.105,-2869.207
40802,2019-01-01 00:15:00,29325.03,29067.993,257.042,-2630.965
40803,2019-01-01 00:00:00,29164.14,29051.640,112.503,-2791.857

In [122]:
data_new = pd.merge(data1, data_3, on='DateTime', how="outer")
data_new = data_new.dropna(subset=['RealPower'])

data_new

,Unnamed: 0,DateTime,RealPower,mes,verano,primavera,otoño,invierno,dia,vacaciones,...,Prom_hora_mes,mayor_promedio,Hora,Prom_hora_mes_dia,mayor_promedio_dia,minute,TotalCampusLoad,OnCampusGeneration,SDG&E Import,AdjustedDemand
0,0.0,2019-12-31 23:45:00,38.394,12.0,0.0,0.0,0.0,1.0,31.0,1.0,...,40.048847,0.0,23.0,38.52075,0.0,45.0,29072.57,28812.395,260.169,-2883.436
1,1.0,2019-12-31 23:30:00,38.619,12.0,0.0,0.0,0.0,1.0,31.0,1.0,...,40.048847,0.0,23.0,38.52075,1.0,30.0,28844.49,28651.752,192.735,-3111.513
2,2.0,2019-12-31 23:15:00,38.577,12.0,0.0,0.0,0.0,1.0,31.0,1.0,...,40.048847,0.0,23.0,38.52075,1.0,15.0,29295.08,29066.792,228.283,-2660.925
3,3.0,2019-12-31 23:00:00,38.493,12.0,0.0,0.0,0.0,1.0,31.0,1.0,...,40.048847,0.0,23.0,38.52075,0.0,0.0,28629.41,28455.610,173.804,-3326.586
4,4.0,2019-12-31 22:45:00,38.313,12.0,0.0,0.0,0.0,1.0,31.0,1.0,...,40.184637,0.0,22.0,38.70800,0.0,45.0,28208.62,28111.096,97.523,-3747.381
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26401,26395.0,2019-04-01 01:00:00,51.912,4.0,0.0,1.0,0.0,0.0,1.0,0.0,...,51.763875,1.0,1.0,51.05075,1.0,0.0,32869.68,32055.630,814.050,913.680
26402,26396.0,2019-04-01 00:45:00,50.980,4.0,0.0,1.0,0.0,0.0,1.0,0.0,...,52.269892,0.0,0.0,51.17875,0.0,45.0,32870.50,32105.054,765.447,914.501
26403,26397.0,2019-04-01 00:30:00,51.873,4.0,0.0,1.0,0.0,0.0,1.0,0.0,...,52.269892,0.0,0.0,51.17875,1.0,30.0,33259.59,32110.270,1149.313,1303.583
26404,26398.0,2019-04-01 00:15:00,51.186,4.0,0.0,1.0,0.0,0.0,1.0,0.0,...,52.269892,0.0,0.0,51.17875,1.0,15.0,33134.33,28667.089,4467.250,1178.339
26405,26399.0,2019-04-01 00:00:00,50.676,4.0,0.0,1.0,0.0,0.0,1.0,0.0,...,52.269892,0.0,0.0,51.17875,0.0,0.0,33598.49,28871.390,4727.110,1642.500

In [123]:
del data_new["Unnamed: 0"]

In [124]:
data_new.to_csv("data_total_load.csv")

**OBSERVACION: LA CARGA TOTAL DE TODOS LOS EDIFICIOS SE ESTA INTEGRANDO, TAL VEZ SURJA ERROR**

*Solución: Modelo con carga -1*

In [125]:
data4=pd.read_csv("../UCSD-Microgrid-Database\Data Files\DemandCharge.csv")

data4['TotalCampusLoad_ant'] = data4['TotalCampusLoad'].shift(-1)
data4['OnCampusGeneration_ant'] = data4['OnCampusGeneration'].shift(-1)
data4['SDG&E Import_ant'] = data4['SDG&E Import'].shift(-1)
data4['AdjustedDemand_ant'] = data4['AdjustedDemand'].shift(-1)



data4 = data4[data4['AdjustedDemand_ant'].notna()]

data4

,DateTime,TotalCampusLoad,OnCampusGeneration,SDG&E Import,AdjustedDemand,TotalCampusLoad_ant,OnCampusGeneration_ant,SDG&E Import_ant,AdjustedDemand_ant
0,2/29/2020 23:45,31650.58,30752.804,897.774,-305.422,31096.75,30750.037,346.711,-859.252
1,2/29/2020 23:30,31096.75,30750.037,346.711,-859.252,31236.65,30614.898,621.749,-719.353
2,2/29/2020 23:15,31236.65,30614.898,621.749,-719.353,31364.09,30866.657,497.427,-591.916
3,2/29/2020 23:00,31364.09,30866.657,497.427,-591.916,31552.81,30785.978,766.840,-403.182
4,2/29/2020 22:45,31552.81,30785.978,766.840,-403.182,31214.21,30570.632,643.588,-741.780
...,...,...,...,...,...,...,...,...,...
75838,1/1/2018 1:15,28750.72,17266.549,12503.180,-2186.271,28648.00,17144.323,12455.270,-2356.407
75839,1/1/2018 1:00,28648.00,17144.323,12455.270,-2356.407,28700.43,17106.156,12450.270,-2399.574
75840,1/1/2018 0:45,28700.43,17106.156,12450.270,-2399.574,28737.36,17342.170,12528.160,-2085.670
75841,1/1/2018 0:30,28737.36,17342.170,12528.160,-2085.670,28779.14,17388.247,12577.250,-1990.503
75842,1/1/2018 0:15,28779.14,17388.247,12577.250,-1990.503,28947.06,17082.433,12709.430,-2164.137

In [126]:
del data4["AdjustedDemand"]
del data4["TotalCampusLoad"]
del data4["OnCampusGeneration"]
del data4["SDG&E Import"]

In [127]:
data4["DateTime"]=pd.to_datetime(data4["DateTime"])

data_new2 = pd.merge(data1, data4, on='DateTime', how="outer")
data_new2 = data_new2.dropna(subset=['RealPower'])

data_new2

,Unnamed: 0,DateTime,RealPower,mes,verano,primavera,otoño,invierno,dia,vacaciones,...,Prom_hora_mes,mayor_promedio,Hora,Prom_hora_mes_dia,mayor_promedio_dia,minute,TotalCampusLoad_ant,OnCampusGeneration_ant,SDG&E Import_ant,AdjustedDemand_ant
0,0.0,2019-12-31 23:45:00,38.394,12.0,0.0,0.0,0.0,1.0,31.0,1.0,...,40.048847,0.0,23.0,38.52075,0.0,45.0,28844.49,28651.752,192.735,-3111.513
1,1.0,2019-12-31 23:30:00,38.619,12.0,0.0,0.0,0.0,1.0,31.0,1.0,...,40.048847,0.0,23.0,38.52075,1.0,30.0,29295.08,29066.792,228.283,-2660.925
2,2.0,2019-12-31 23:15:00,38.577,12.0,0.0,0.0,0.0,1.0,31.0,1.0,...,40.048847,0.0,23.0,38.52075,1.0,15.0,28629.41,28455.610,173.804,-3326.586
3,3.0,2019-12-31 23:00:00,38.493,12.0,0.0,0.0,0.0,1.0,31.0,1.0,...,40.048847,0.0,23.0,38.52075,0.0,0.0,28208.62,28111.096,97.523,-3747.381
4,4.0,2019-12-31 22:45:00,38.313,12.0,0.0,0.0,0.0,1.0,31.0,1.0,...,40.184637,0.0,22.0,38.70800,0.0,45.0,28319.85,28075.003,244.849,-3636.148
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26401,26395.0,2019-04-01 01:00:00,51.912,4.0,0.0,1.0,0.0,0.0,1.0,0.0,...,51.763875,1.0,1.0,51.05075,1.0,0.0,32870.50,32105.054,765.447,914.501
26402,26396.0,2019-04-01 00:45:00,50.980,4.0,0.0,1.0,0.0,0.0,1.0,0.0,...,52.269892,0.0,0.0,51.17875,0.0,45.0,33259.59,32110.270,1149.313,1303.583
26403,26397.0,2019-04-01 00:30:00,51.873,4.0,0.0,1.0,0.0,0.0,1.0,0.0,...,52.269892,0.0,0.0,51.17875,1.0,30.0,33134.33,28667.089,4467.250,1178.339
26404,26398.0,2019-04-01 00:15:00,51.186,4.0,0.0,1.0,0.0,0.0,1.0,0.0,...,52.269892,0.0,0.0,51.17875,1.0,15.0,33598.49,28871.390,4727.110,1642.500
26405,26399.0,2019-04-01 00:00:00,50.676,4.0,0.0,1.0,0.0,0.0,1.0,0.0,...,52.269892,0.0,0.0,51.17875,0.0,0.0,33887.81,27207.741,6680.080,1931.821

In [128]:
data_new2.to_csv("data_minus1.csv")